################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sikiro.DapperLambdaExtension.MsSql.Samples/obj/Debug
/packages
/.vs/Sikiro.DapperLambdaExtension.MsSql/v15
/Sikiro.DapperLambdaExtension.MsSql.Samples/bin/Debug
/Sikiro.DapperLambdaExtension.MsSql.Samples/obj/Release
/Sikiro.DapperLambdaExtension.MsSql/bin/Debug
/Sikiro.DapperLambdaExtension.MsSql/obj/Release
/Sikiro.DapperLambdaExtension.MsSql/obj/Debug
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/obj
/Sikiro.DapperLambdaExtension.MsSql.Core/obj
/Sikiro.DapperLambdaExtension.MsSql.Core/bin
/Sikiro.DapperLambdaExtension.MsSql.Samples/bin/Release
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Debug/netcoreapp2.0
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.Samples.runtimeconfig.json
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.Samples.runtimeconfig.dev.json
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.Samples.pdb
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.Samples.dll
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.Samples.deps.json
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.pdb
/Sikiro.DapperLambdaExtension.MsSql.Core.Samples/bin/Release/netcoreapp2.0/Sikiro.DapperLambdaExtension.MsSql.Core.dll
/Sikiro.DapperLambdaExtension.MsSql.Core
/src/Sikiro.Dapper.Extension.MsSql/obj
/src/Sikiro.Dapper.Extension.MsSql/bin
/samples/mssql/Sikiro.Dapper.Extension.MsSql.Samples/bin
/samples/mssql/Sikiro.Dapper.Extension.MsSql.Samples/obj
/samples/mssql/Sikiro.Dapper.Extension.MsSql.Core.Samples/bin
/samples/mssql/Sikiro.Dapper.Extension.MsSql.Core.Samples/obj
/.vs/Sikiro.Dapper.Extension/v15
/.vs/Sikiro.DapperLambdaExtension.MsSql/DesignTimeBuild
/.vs/Sikiro.DapperLambdaExtension.MsSql3/v15
/.vs
/src/Sikiro.Dapper.Extension/bin/Debug
/samples/mysql/Sikiro.Dapper.Extension.MySql.Core.Samples/bin/Debug/netcoreapp2.0
/samples/mysql/Sikiro.Dapper.Extension.MySql.Core.Samples/obj
/src/Sikiro.Dapper.Extension/obj
/src/Sikiro.Dapper.Extension.MySql/bin/Debug
/src/Sikiro.Dapper.Extension.MySql/obj
*.user
/samples/mssql/Sikiro.Dapper.Extension.MsSql.Samples/.vs/Sikiro.DapperLambdaExtension.MsSql.Samples/v15
/samples/postgresql/Sikiro.Dapper.Extension.PostgreSql.Core.Samples/bin/Debug/netcoreapp2.0
/samples/postgresql/Sikiro.Dapper.Extension.PostgreSql.Core.Samples/obj
/src/Sikiro.Dapper.Extension.PostgreSQL/obj
/src/Sikiro.Dapper.Extension.PostgreSQL/bin
