################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sikiro.DapperLambdaExtension.MsSql.Samples/obj/Debug
/packages
/.vs/Sikiro.DapperLambdaExtension.MsSql/v15
