################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sikiro.DapperLambdaExtension.MsSql.Samples/obj/Debug
/packages
/.vs/Sikiro.DapperLambdaExtension.MsSql/v15
/Sikiro.DapperLambdaExtension.MsSql.Samples/bin/Debug
/Sikiro.DapperLambdaExtension.MsSql.Samples/obj/Release
/Sikiro.DapperLambdaExtension.MsSql/bin/Debug
/Sikiro.DapperLambdaExtension.MsSql/obj/Release
/Sikiro.DapperLambdaExtension.MsSql/obj/Debug
